/* 12-column responsive grid */

.row {
	clear: both;
	max-width: 1040px;
	margin: 0 auto;
}

[class^="col-"] {
	float: left;
	margin: 0 3.84615384615% 0 0;
	list-style: none;
	position: relative;
}

[class^="col-"]:last-child {
	margin: 0;
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 22.1153846154% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 39.4230769231% }
.col-6 { width: 48.0769230769% }
.col-7 { width: 56.7307692308% }
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }

.pull_1, .push_1,
.pull_2, .push_2,
.pull_3, .push_3,
.pull_4, .push_4,
.pull_5, .push_5,
.pull_6, .push_6,
.pull_7, .push_7,
.pull_8, .push_8,
.pull_9, .push_9,
.pull_10, .push_10,
.pull_11, .push_11 {
	position: relative;
}

.row .pull_1 {
	left: -8.65384615385%;
}

.row .pull_2 {
	left: -17.3076923077%;
}

.row .pull_3 {
	left: -25.96153846155%;
}

.row .pull_4 {
	left: -34.6153846154%;
}

.row .pull_5 {
	left: -43.26923076925%;
}

.row .pull_6 {
	left: -51.9230769231%;
}

.row .pull_7 {
	left: -60.57692307695%;
}

.row .pull_8 {
	left: -69.2307692308%;
}

.row .pull_9 {
	left: -77.88461538465%;
}

.row .pull_10 {
	left: -86.5384615385%;
}

.row .pull_11 {
	left: -95.19230769235%;
}


.row .push_1 {
	left: 8.65384615385%;
}

.row .push_2 {
	left: 17.3076923077%;
}

.row .push_3 {
	left: 25.96153846155%;
}

.row .push_4 {
	left: 34.6153846154%;
}

.row .push_5 {
	left: 43.26923076925%;
}

.row .push_6 {
	left: 51.9230769231%;
}

.row .push_7 {
	left: 60.57692307695%;
}

.row .push_8 {
	left: 69.2307692308%;
}

.row .push_9 {
	left: 77.88461538465%;
}

.row .push_10 {
	left: 86.5384615385%;
}

.row .push_11 {
	left: 95.19230769235%;
}